* {margin: 0;}
 
h1 {
	background-color: dimgray;
	color: white;
	padding: 20px 0px;
	text-align: center;
}
 
p {
	margin: 30px;
}
 
img {
	width: 500px;
	margin: 20px;
}
 
header nav {
	padding: 10px;
	background-color:#e4add4;
	display: flex;
	flex-direction: row;
}
 
nav div {
	color: white;
	margin: 0 20px;
}

footer {
	background-color: dimgray;
	color: white;
	padding: 20px 0px;
	text-align: center
}

.pp {
	background-color: #f2cde8;
	margin: 0;
	padding: 50px;
}